/* ----------------------- */
/* SPECIFIED BY THE CLIENT */
/* ----------------------- */

/* Global font hierarchy : Helvetica, Calibri, suitable default */
*{
  margin: 0; 
  padding: 0;
  font-family: Helvetica,Calibri,Arial,Verdana;
}
/* Primary navigation links	 #4d1d18, remove default underline */
nav ul li a { 
  display: block; 
  text-decoration: none; 
} 
a:link,a{
color:#4d1d18;
}
/* Navigation hover effect	#555 */
a:hover{
  color:  #555;
}

/* --------------------------- */
/* END OF CLIENT SPECIFICATION */
/* --------------------------- */

/* ------------ */
/* HTML LAYOUT  */
/* ------------ */

html{
  background-color: #fff;
  margin: 10px 5px 0px 3px;
}


/* ------------------- */
/* HEADER incl. BANNER  */
/* ------------------- */

header{
  background-image: url("../logo/logo.jpg");
  background-color: #cccccc;
  background-position: center top;
  background-repeat: no-repeat;
  height: 150px;
  border:2px solid #000;
  padding-top: 1em;
}

/* ---------------- */
/* NAVIGATION PANEL  */
/* ---------------- */

nav {
  background-color: #F9F9F9;
  float: left;
  height: 400px;
  border: 2px solid black;
  border-top: 0;
  margin-right: 5px;
}

nav ul{ 
  list-style: none; 
} 

nav ul li{
  display: block;
  width:120px; 
  margin-bottom: 0.5em; 
}

nav #currentpage{
  color: #3399CC;
}

nav h3{
  padding: 10px;
}

/* ---------------------------------------- */
/* SECTION(where all the content is) layout  */
/* ---------------------------------------- */

section {
  margin-left: 140px;
  padding-left: 0.5em;
  margin-right: 0;
}




/* ---------------------------------------- */
/* CALENDAR(where all the content is) layout */
/* ---------------------------------------- */


/* [CONTAINER] */
#cal-wrap { 
  margin: 0 auto;
  margin-top: 20px;
  max-width: 700px;
 }

/* [PERIOD SELECTOR] */
#cal-date { display: flex; }
#cal-mth, #cal-yr, #cal-set {
  box-sizing: border-box;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 0;
  color: #fff;
}
#cal-mth, #cal-yr { background: #ea4c4c; }
#cal-set { background: #4e83d9; }

/* [CALENDAR] */
#calendar {
  width: 100%;
  border-collapse: collapse;
}
#calendar tr.head td {
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background: #f37070;
  padding: 15px;
  text-align: center;
}
#calendar tr.day td {
  border: 1px solid #ddd;
  width: 14.28%;
  padding: 15px 5px;
  vertical-align: top;
}
#calendar tr.day td:hover {
  background: #fff9e4;
  cursor: pointer;
}
#calendar tr td.blank {
  background: #f5f5f5;
}
#calendar .dd {
  font-size: 1.2em;
  color: #999;
}
#calendar .evt {
  margin-top: 5px;
  font-size: 0.8em;
  font-weight: bold;
  overflow: hidden;
  color: #ff5d5d;
}

/* [ADD/EDIT EVENT] */

#total{
  padding: 15px;
  margin-top: 20px;
  font-weight: bold;
  color: white;
  background: #046d4a;
  border: 1px solid #ddd;
}

#cal-event form {
  padding: 15px;
  margin-top: 20px;
  background: #f5f5f5;
  border: 1px solid #ddd;
}
#cal-event h1 {
  color: #333;
  padding: 0;
  margin: 0;
}
#evt-date {
  color: #999;
  margin: 10px 0;
}
#cal-event textarea {
  display: block;
  /* box-sizing: padding-box; */
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  resize: none;
}
#cal-event input[type=button], #cal-event input[type=submit] {
  padding: 10px;
  margin: 5px;
  font-size: 1.2em;
  border: 0;
  background: #ea4c4c;
  color: #fff;
}

/* [DOES NOT MATTER] */
html, body, textarea, input {
  font-family: arial, sans-serif;
}