/* ----------------------- */
/* SPECIFIED BY THE CLIENT */
/* ----------------------- */

/* Global font hierarchy : Helvetica, Calibri, suitable default */
*{
    margin: 0; 
    padding: 0;
    font-family: Helvetica,Calibri,Arial,Verdana;
}
/* Primary navigation links	 #4d1d18, remove default underline */
nav ul li a { 
    display: block; 
    text-decoration: none; 
} 
a:link,a{
color:#4d1d18;
}
/* Navigation hover effect	#555 */
a:hover{
    color:  #555 !important;
}
/* Major heading #87423c, 36 pixels */
h1{
    font-size: 36px;
    color: #87423c !important;
}
/* Sub-headings	#4d1d18, 24 pixels */
h2{
    font-size: 24px;
    color: #4d1d18 !important;
}
/*  Paragraph text 150% line height */
p{
    line-height: 150%;
}
/* Content links	#87423c */
/*Content links have not been used yet*/
a.content{
    color: #87423c;
}

/* Footer text and links #87423c */
footer h2, footer a,footer.copyright{
    color: #87423c;
}

/* --------------------------- */
/* END OF CLIENT SPECIFICATION */
/* --------------------------- */

/* ------------ */
/* HTML LAYOUT  */
/* ------------ */

html{
    background-color: #fff;
    margin: 10px 5px 0px 3px;
}


/* ------------------- */
/* HEADER incl. BANNER  */
/* ------------------- */

header{
    background-image: url("../logo/logo.jpg");
    background-color: #cccccc;
    background-position: center top;
    background-repeat: no-repeat;
    height: 150px;
    border:2px solid #000;
    padding-top: 1em;
}

/* ---------------- */
/* NAVIGATION PANEL  */
/* ---------------- */

nav {
    background-color: #F9F9F9;
    float: left;
    height: 400px;
    border: 2px solid black;
    border-top: 0;
    margin-right: 5px;
}

nav ul{ 
    list-style: none; 
} 

nav ul li{
    display: block;
    width:120px; 
    margin-bottom: 0.5em; 
}

nav #currentpage{
    color: #3399CC;
 }

nav h3{
    padding: 10px;
}

/* ---------------------------------------- */
/* SECTION(where all the content is) layout  */
/* ---------------------------------------- */

section {
    margin-left: 140px;
    padding-left: 0.5em;
    margin-right: 20%;
}

p{
    margin-top: 0.5em;
}

/* ---------- */
/* THE FOOTER */
/* ---------- */

footer{
    clear: both;
    text-align: center;
    padding: 1em 5px 0px 3px;
}

footer.copyright{
    font-weight: bold;
    text-align: right;
    font-size: 0.7em;
    padding-top: 5px;
}




/* --------------- */
/* TABLE STRUCTURE  */
/* --------------- */

table{
    border-collapse: collapse;
}

td,th,figcaption{
    text-align: left;
}

th,td{
    padding: .2em .7em;
    border: 1px solid #000;
}

thead{
    background-color: #DCDCDC;
    font-weight: bold;
}

figure{
    padding-top:15px;
} 

tbody{
    line-height: 150%;
}

/* -------------- */
/* SLIDESHOW CODE  */
/* -------------- */


/* -------------------- */
/*  GOOGLE MAPS STYLING  */
/* -------------------- */

iframe{
    border:0;
    height: 400px;
    width: 400px; 
}

div.google_map{
float: right;
}

section.large_section{
    margin-right: 10%;
}




/* ----------- */
/*  OTHER CODE  */
/* ----------- */


#reviews{
    font-style:italic;
    text-align:justify;
    line-height: 130%;
    margin-bottom: 30px;
    margin-top: 20px;
}


h2{
    margin-top: 0.5em;
}



/* ---------------- */
/*  DOT POINTS CODE  */
/* ---------------- */

section ul{
    padding:2em;
    line-height: 200%;
}



/* ----------- */
/*  FORM CODE  */
/* ----------- */

/*
The template design was copied from :
https://codepen.io/colorlib/pen/rxddKy*/

/*I did modify the template a bit, mostly by removing parts of code that I did not need*/




.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: left;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.form button {
  text-transform: uppercase;
  margin-right: 2%;
  outline: 0;
  background: #87423c;
  width: 25%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
  background: #555;
}
.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 12px;
}


#checkbox{
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

label,input {
      display: block;
      margin-bottom: 10px;
}

form h1{
margin-bottom: 30px;
}


section.largest_section{
    margin-right: 2%;
}

textarea{
    width: 98%;
    margin-bottom: 30px;
}

/* -------------------- */
/*  IMAGE ON RIGHT CODE  */
/* -------------------- */

.right_Image{
    float: right; 
    margin-left: 20px;
}

section.full{
    margin-right: 0;
}

img.smaller{
    height: 400px;
}

.full p{
    margin-bottom: 20px;
}

/* -------------------- */
/*  CUSTOM LIST  */
/* -------------------- */

ul.smaller{
    padding-top: 0;
    padding-right: 0;
    
}

/* -------------------- */
/*  CUSTOM HEADERS  */
/* -------------------- */

h2.center{
    text-align: center;
}

.content_header{
    margin: 0.3em;
    font-weight: normal;
    text-align: center;
}

h1.mainpage{
    margin-top: 10px;
}